<%# The content object holds the essence %>
<center>
  <div class="innerpage_banner">

  <% if content.ingredient.nil? %>
  <%= "" %>
  <% else %>
<% menu = Menu.find_by_id(content.ingredient)%>
<h1><%= menu.name%></h1></br>

<% menu.menu_categories.each do |c|%>
  <h2><%= c.name %></h2></br>

  <% c.menu_items.each do |i| %>
<p><%= i.name %> - $<%= "%.2f" % i.price%></p>
  <%end%>
  <%end%>
  <%end%>
</div>
</center>